<!DOCTYPE doctype html>
<html lang="es">
    <body>
        <div class="col-9 px-0 ">
        </div>
    </body>
{% load static from staticfiles %}
</html>
<!DOCTYPE html>
<html lang="en">
    {% include "header.html" %}
    <body>
        <div class="container-fluid mx-0 px-0">
            {% include "menu.html" %}
            <div class="row mx-0">
                {% include "barraLateral.html" %}
                <div class="col-9  col-md-offset-6">
                    {% block content %}
                {% endblock content %}
                </div>
            </div>
        </div>
        {% include "footer.html" %}
        {% include "scripts.html" %}
    </body>
</html>