<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="en">
{% include "header.html" %}
<body>
    <div class="container-fluid mx-0 px-0 h-100 d-flex flex-column">
        {% include "menu.html" %}
        <div class="row mx-0 flex-fill">
            {% include "barraLateral.html" %}
            <div class="col-9 p-4 container-main d-flex justify-content-center">
                <div class="container-subjects d-flex-column p-4 text-center">
                     {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </div>
    </div>
        {% include "footer.html" %}
        {% include "scripts.html" %}
</body>
</html>