{% extends "basic_layout.html" %}
{% block content%}
<div class="col-12 col-md-offset-6">
    <center>
        <h3>
            Eliminar Portafolio
        </h3>
    </center>
       Asignatura
        <form>
    <select name="cars" class="custom-select">
    <option selected>Seleccione una asignatura</option>
    <option value="Programación">Programación</option>
    <option value="Sistemas Operativos">Sistemas Operativos</option>
    <option value="Emprendimiento">Emprendimiento</option>
  </select>
</form>
    <br>
    <center><button>
             Eliminar
    </button>
    </center>
</div>
{% endblock content%}