{% extends "basic_layout.html" %}
{% block content%}
<div class="col-12 col-md-offset-6">
    <center>
        <h3>
            Alumnos
        </h3>
    </center>
    <div class="container">
        <div class="row">
            <div class="form-group row">
                         <label class="col-form-label col-2" for="enlace">
                            Alumno /C.I.
                        </label>
                        <div class="col-sm-10">
                            <div class="input-group mb-2">
                                <input aria-describedby="basic-addon2" aria-label="Recipient's username" class="form-control" placeholder="Buscar" type="text">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-primary" type="button">
                                        <i class="fas fa-search">
                                        </i>
                                    </button>
                        </div>
                    </input>
                </div>
                        </div>
                    </div>
            <div class="form-group col">
                <button class="btn btn-primary" data-target="#CrearEst" data-toggle="modal" type="button">
                    <i aria-hidden="true" class="fa fa-user-plus">
                    </i>
                    Crear
                </button>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">
                    Cedula
                </th>
                <th scope="col">
                    Nombres
                </th>
                <th scope="col">
                    Apellidos
                </th>
                <th scope="col">
                    Dirección
                </th>
                <th scope="col">
                    Curso
                </th>
                <th scope="col">
                    Asignatura
                </th>
                <th scope="col"  colspan="3">
                    Opciones
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                    <th>
                        <td>
                           <a href="#"class="btn btn-primary" data-target="#VerEst" data-toggle="modal" type="button">
                           <i aria-hidden="true" class="fa fa-eye">
                          </i>
                        </a> 
                        </td>
                        <td>
                            <a href="#" class="btn btn-warning" data-target="#ModificarEst" data-toggle="modal" type="button">
                                <i class="far fa-edit">
                                </i>
                            </a>
                        </td>
                        <td> 
                            <a class="btn btn-danger" type="button">
                                <i class="far fa-trash-alt">
                                </i>
                            </a> 
                        </td>
                      
                    </th>
                    
                </td>              
            </tr>
            <tr>
                <td>
                </td>
                <td>
                    Jazmin
                </td>
                <td>
                    Orellana
                </td>
                <td>
                </td>
                <td>
                    <th>
                        <td>
                           <a href="#"class="btn btn-primary" data-target="#VerEst" data-toggle="modal" type="button">
                           <i aria-hidden="true" class="fa fa-eye">
                          </i>
                        </a> 
                        </td>
                        <td>
                            <a href="#" class="btn btn-warning" data-target="#ModificarEst" data-toggle="modal" type="button">
                                <i class="far fa-edit">
                                </i>
                            </a>
                        </td>
                        <td> 
                            <a class="btn btn-danger" type="button">
                                <i class="far fa-trash-alt">
                                </i>
                            </a> 
                        </td>
                      
                    </th>
                </td>
            </tr>
            <tr>
                <th scope="row">
                </th>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                    <th>
                        <td>
                           <a href="#"class="btn btn-primary" data-target="#VerEst" data-toggle="modal" type="button">
                           <i aria-hidden="true" class="fa fa-eye">
                          </i>
                        </a> 
                        </td>
                        <td>
                            <a href="#" class="btn btn-warning" data-target="#ModificarEst" data-toggle="modal" type="button">
                                <i class="far fa-edit">
                                </i>
                            </a>
                        </td>
                        <td> 
                            <a class="btn btn-danger" type="button">
                                <i class="far fa-trash-alt">
                                </i>
                            </a> 
                        </td>
                      
                    </th>
                </td>
            </tr>
            <tr>
                <th scope="row">
                </th>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                    <th>
                        <td>
                           <a href="#"class="btn btn-primary" data-target="#VerEst" data-toggle="modal" type="button">
                           <i aria-hidden="true" class="fa fa-eye">
                          </i>
                        </a> 
                        </td>
                        <td>
                            <a href="#" class="btn btn-warning" data-target="#ModificarEst" data-toggle="modal" type="button">
                                <i class="far fa-edit">
                                </i>
                            </a>
                        </td>
                        <td> 
                            <a class="btn btn-danger" type="button">
                                <i class="far fa-trash-alt">
                                </i>
                            </a> 
                        </td>
                      
                    </th>
                </td>
            </tr>
            <tr>
                <th scope="row">
                </th>
                <td>
                    Paul
                </td>
                <td>
                    Torres
                </td>
                <td>
                </td>
                <td>
                    <th>
                        <td>
                           <a href="#"class="btn btn-primary" data-target="#VerEst" data-toggle="modal" type="button">
                           <i aria-hidden="true" class="fa fa-eye">
                          </i>
                        </a> 
                        </td>
                        <td>
                            <a href="#" class="btn btn-warning" data-target="#ModificarEst" data-toggle="modal" type="button">
                                <i class="far fa-edit">
                                </i>
                            </a>
                        </td>
                        <td> 
                            <a class="btn btn-danger" type="button">
                                <i class="far fa-trash-alt">
                                </i>
                            </a> 
                        </td>
                      
                    </th>
                </td>
            </tr>
            <tr>
                <th scope="row">
                </th>
                <td>
                </td>
                <td>
                </td>
                <td>
                <td>
                   <th>
                        <td>
                           <a href="#"class="btn btn-primary" data-target="#VerEst" data-toggle="modal" type="button">
                           <i aria-hidden="true" class="fa fa-eye">
                          </i>
                        </a> 
                        </td>
                        <td>
                            <a href="#" class="btn btn-warning" data-target="#ModificarEst" data-toggle="modal" type="button">
                                <i class="far fa-edit">
                                </i>
                            </a>
                        </td>
                        <td> 
                            <a class="btn btn-danger" type="button">
                                <i class="far fa-trash-alt">
                                </i>
                            </a> 
                        </td>
                      
                    </th>
                </td>
            </tr>
        </tbody>
    </table>
    {% include "CrearEst.html" %}
    {% include "ModificarEst.html" %}
    {% include "VerEst.html" %}
    <br>
    </br>
    <div class="col-12 col-md-offset-6">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#">
                    Previous
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">
                    1
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">
                    2
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">
                    3
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">
                    Next
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock content%}
