{% extends "basic_layout.html" %}
{% block content%}
    <div class="card-header text-center">
        <h2>
            Optativa II-2019-E1
        </h2>
        <h3>
            Diarios
        </h3>
    </div>
    <div class="card-body p-5">
        <table class="table">
            <tbody>
                <tr>
                    <td class="text-center align-middle">
                        Diario 1
                    </td>
                    <td class="text-right">
                        <button class="btn btn-secondary">
                            Editar
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-info">
                            Ver
                        </button>
                    </td>
                    <td class="text-left">
                        <button class="btn btn-success p-3" disabled="" type="button">
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="text-center align-middle">
                        Diario 2
                    </td>
                    <td class="text-right">
                        <button class="btn btn-secondary">
                            Editar
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-info">
                            Ver
                        </button>
                    </td>
                    <td class="text-left">
                        <button class="btn btn-danger p-3" disabled="" type="button">
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="text-center align-middle">
                        Diario 3
                    </td>
                    <td class="text-right">
                        <button class="btn btn-secondary">
                            Editar
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-info">
                            Ver
                        </button>
                    </td>
                    <td class="text-left">
                        <button class="btn btn-success p-3" disabled="" type="button">
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="text-center align-middle">
                        Diario 4
                    </td>
                    <td class="text-right">
                        <button class="btn btn-secondary">
                            Editar
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-info">
                            Ver
                        </button>
                    </td>
                    <td class="text-left">
                        <button class="btn btn-danger p-3" disabled="" type="button">
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock content%}
