{% extends "login.html" %}
{% load static from staticfiles %}
{% block content%}
<!--
    you can substitue the span of reauth email for a input with the email and
    include the remember me checkbox
    -->
<div class="container">
    <div class="card card-container">
        <center><h3>Sistema de Gestion de Portafolios</h3></center>
         <img class="profile-img-card" id="profile-img" src="{% static 'img/user.png' %}"/>
        <p class="profile-name-card" id="profile-name">
        </p>
        <form class="form-signin" method="POST">
            <span class="reauth-email" id="reauth-email">
            </span>
            {% csrf_token %}
            <input autofocus="" placeholder="Usuario" type="text" class="form-control" name="username" autofocus required id="id_username">
            <input type="password" name="password" placeholder="Contraseña" class="form-control" required id="id_password">
                    <div class="checkbox" id="remember">
                        <label>
                            <input type="checkbox" value="remember-me">
                                Recordar
                            </input>
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">
                     Iniciar Sesión
                    </button>
        </form>
        <!-- /form -->
        <a class="forgot-password" href="#">
            ¿Olvidaste tu contraseña?
        </a>
    </div>
    <!-- /card-container -->
</div>
<!-- /container -->
{% endblock content%}

