{% extends "basic_layout.html" %}
{% block content%}
<div class="col-12 col-md-offset-6">
    <center>
        <h3>
            Proyecto
        </h3>
    </center>
    <div class="form-group row">
        <label class="col-form-label col-2" for="enlace">
            Enlace al drive
        </label>
        <div class="col-sm">
            <input class="form-control" id="inputEnlace" required="" type="text"/>
        </div>
        <br>
    </div>
            <button>
            Añadir
        </button>
</div>
{% endblock content%}
