{% extends "basic_layout.html" %}
{% block content%}
<div class="col-12 col-md-offset-6">
    <center>
        <h3>
            Visualizar Portafolio
        </h3>
    </center>
      
<div class="container">
         
  <table class="table table-hover">
    <tbody>
      <tr>
        <td>1. Datos informativos
        </td>
      </tr>
      <tr>
        <td>2. Elementos curriculares</td>
      </tr>
      <tr>
        <td>3. Informe final</td>
      </tr>
    </tbody>
  </table>
</div>

<br>
    <center>
    <button>Salir</button>
    <button>Descargar</button>
    </center>
    


</div>
{% endblock content%}